/*---------------------------------------------------
                Entête
----------------------------------------------------*/
div#header {
        width: 800px;
        height: 176px;
/*      background-color: black; */
        margin: auto;
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 10px;


}
div#banniere {
        width: 500px;
        height: 170px;
/*      background-color: black; */
/*      text-align: left; */
        margin: auto;
        float: left;
}

div#connexion {
        width: 150px;
        height: 45px;
/*      background-color: black; */
        text-align: center;
        margin: auto;
        float: right;
        color: black;
        padding-top: 40px;
}
div#typecom {
        width: 150px;
        height: 45px;
/*      background-color: black; */
        text-align: center;
        margin: auto;
        float: left;
        color: black;
        padding-top: 40px;
        Font-Weight: Bold;
}

div#resultat {
Font-Weight: Lighter;
}

div#deco {
        width: 150px;
        height: 87px;
/*      background-color: black; */
        text-align: center;
        margin: auto;
        float: right;
        color: black;
 }
div#boutonD {
        font-family: Arial,sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        width: 110px;
        height: 30px;
        cursor: pointer;
        margin: auto;
        text-align: center;
        padding-top: 10px;
        color: black;
        background: #007536;
        border-radius: 8px;
        background: -webkit-linear-gradient( #00B454, #007536);
        background:    -moz-linear-gradient( #00B454, #007536);
        background:     -ms-linear-gradient( #00B454, #007536);
        background:      -o-linear-gradient( #00B454, #007536);
        background:         linear-gradient( #00B454, #007536);
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
}
div#boutonD:active {
        font-family: Arial,sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        width: 110px;
        height: 30px;
        cursor: pointer;
        margin: auto;
        text-align: center;
        color: black;
        background: #007536;
        border-radius: 8px;
        background: -webkit-linear-gradient( #02A458, #2C2C2C);
        background:    -moz-linear-gradient( #02A458, #2C2C2C);
        background:     -ms-linear-gradient( #02A458, #2C2C2C);
        background:      -o-linear-gradient( #02A458, #2C2C2C);
        background:         linear-gradient( #02A458, #2C2C2C);
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
        box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}
div#boutonDH {
        font-family: Arial,sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        width: 100px;
        height: 20px;
        cursor: pointer;
        margin: auto;
        text-align: center;
        color: black;
        background: #007536;
        border-radius: 8px;
        background: -webkit-linear-gradient( #00B454, #007536);
        background:    -moz-linear-gradient( #00B454, #007536);
        background:     -ms-linear-gradient( #00B454, #007536);
        background:      -o-linear-gradient( #00B454, #007536);
        background:         linear-gradient( #00B454, #007536);
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
}
div#boutonDH:active {
        font-family: Arial,sans-serif;
        font-size: 0.8em;
        font-weight: bold;
        width: 110px;
        height: 20px;
        cursor: pointer;
        margin: auto;
        text-align: center;
        color: black;
        background: #007536;
        border-radius: 8px;
        background: -webkit-linear-gradient( #02A458, #2C2C2C);
        background:    -moz-linear-gradient( #02A458, #2C2C2C);
        background:     -ms-linear-gradient( #02A458, #2C2C2C);
        background:      -o-linear-gradient( #02A458, #2C2C2C);
        background:         linear-gradient( #02A458, #2C2C2C);
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
        text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
        box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4);
}

