div#header {
        width: 800px;
        height: 130px;
/*      background-color: black; */
        margin: auto;
        text-align: center;
        border-style: groove;
        border-width: 3px;
        border-radius: 10px;
} 
div#page {
 
	width: 800px;
	height: auto;
	background-color: #228751;
	text-align: center;
	padding-top: 20px;
	margin: auto;
 }

div#titre{
	width: 800px;
	height: 50px;
	text-align: center;
	margin: auto;
	font-size: 150%;
	font-weight: bold;
 }

div#login {
	width: 800px;	
	height: 30px;
	text-align: center;
	margin: auto;
 }

div#text {
	width: 320px;	
	height: 30px;
	text-align: right;
	margin: auto, auto, -1px, auto;
	float: left;
 }

div#saisie {
	width: 470px;	
	height: 30px;
	text-align: left;
	margin: auto;
	float: right;
 }

div#mdp {
	width: 800px;	
	height: 30px;
	text-align: center;
	margin: auto;
 }

div#text1 {
	width: 320px;	
	height: 30px;
	text-align: right;
	margin: auto;
	float: left;
 }

div#saisie1 {
	width: 470px;	
	height: 30px;
	text-align: left;
	margin: auto;
	float: right;
	padding-bottom: -10px;
 }

#Lbouton {
	width: 792px;	
	height: 75px;
	text-align: center;
	padding-top: 10px;
	padding-left: 8px;
	margin: auto;
}
#bouton1 {
	text-decoration: none;
	font-family: Arial,sans-serif;
	font-size: 1.0em;
	width: 160px;
	height: 30px;
	border: 0px;
	cursor: pointer;
	margin: auto;
	text-align: center;
	color: black;
	border-radius: 8px; 
	background: -webkit-linear-gradient( #00B454, #007536);
	background:    -moz-linear-gradient( #00B454, #007536);
	background:     -ms-linear-gradient( #00B454, #007536);
	background:      -o-linear-gradient( #00B454, #007536);
	background:         linear-gradient( #00B454, #007536);
}

#bouton1:active {
	text-decoration: none;
	font-family: Arial,sans-serif;
	font-size: 1.0em;
	width: 160px;
	height: 30px;
	border: 0px;
	cursor: pointer;
	margin: auto;
	text-align: center;
	color: black;
	border-radius: 8px; 
	background: -webkit-linear-gradient( #02A458, #2C2C2C);
	background:    -moz-linear-gradient( #02A458, #2C2C2C);
	background:     -ms-linear-gradient( #02A458, #2C2C2C);
	background:      -o-linear-gradient( #02A458, #2C2C2C);
	background:         linear-gradient( #02A458, #2C2C2C);
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	box-shadow: 1px 1px 10px black inset, 0 1px 0 rgba( 255, 255, 255, 0.4); 
}

